.card-title{
    text-overflow: ellipsis;
    float:left;
    display:block;
}
.card-body{
    display:inline;
    padding-bottom: 4rem;
}
.vertical-card-button{
    justify-content: center;
}
.card{
    float:left
}
