.card-row{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{

}
.card-image{
   position:relative;
   width:300px;
}
.card-body{
    position:relative;
}
.card-title{
    position:relative;
}
.card-text{
    position:relative;
}
